
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pyper
Exec=lingui
Terminal=false

GenericName=automated text editor
Comment=automates editing of text using stackable filters
Icon=pyper
TryExec=lingui
Name[en_US]=pyper
