[Desktop Entry]
Encoding=UTF-8
Type=Application
Comment=transform text using stackable filters
Comment[en_US]=transform text using stackable filters
Exec=pipewrench
Icon=pipewrench
StartupNotify=true
Terminal=false
Name=PipeWrench
Name[en_US]=PipeWrench
Categories=GNOME;GTK;Utility;TextEditor;
